.Button {
  padding: 10px 20px;
  margin: 20px;
  background: burlywood;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
}
.primary {
  background: #2884f6;
  color: #fff;
}
.success {
  background: rgba(161, 240, 69, 1);
}
